body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  word-wrap: break-word;
}
hr {
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(187, 187, 187, 0), rgba(187, 187, 187, 0.75),rgba(187, 187, 187, 0));
}
#cheddrInvoice h1 {
  font-size: 1.5em;
  color: #222;
}
#cheddrInvoice h2 {
  font-size: 1em;
}
#cheddrInvoice h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
#cheddrInvoice p {
  font-size: 0.9em;
  color: #666;
  line-height: 1em;
}
#cheddrInvoice table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
#cheddrInvoice .invoiceTitle {
  font-size: 0.9em;
  line-height: 0.5em;
  background: #EEE;
}
.itemHeader {
  width: 50em;
  min-height: 5em;
}
.fiatHeader {
  width: 7em;
  text-align: right;
}
.bitsHeader {
  width: 12em;
  text-align: right;
}
.itemName {
  font-size: 0.8em;
}
.itemPriceFiat, .itemPriceBits {
  font-size: 0.8em;
  text-align: right;
}
.itemPrice {
  font-size: 0.8em;
  text-align: right;
}
.itemPriceBCH {
  font-size: 0.8em;
  text-align: right;
}
.invoiceSubTotal {
  font-size: 0.9em;
  line-height: 0.5em;
  background: rgb(241, 241, 241);
}
.taxFiat, .taxBits {
  font-size: 1em;
  text-align: right;
}
.totalFiat, .totalBits {
  font-size: 1em;
  text-align: right;
}
.invoiceTotal {
  font-size: 1.1em;
  line-height: 0.5em;
  background: rgb(182, 182, 182);
}
.docketAddress {
  font-size: 0.8em;
}
.docketFooter {
  margin-top: 0.4em;
  font-size: 0.7em;
}
#cheddrInvoice {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  margin: 0 auto;
  width: 60%;
  background: #FFF;
}
#cheddrInvoice #cheddrInvoiceHeader {
  min-height: 5em;
}
#cheddrInvoice #cheddrInvoiceSubHeader {
  min-height: 2em;
}
#cheddrInvoice #cheddrInvoiceBody {
  min-height: 1em;
}
#cheddrInvoice #cheddrInvoiceHeader .logo {
  height: 60px;
  width: 60px;
  background: url(../images/receiptLogo.png) no-repeat;
  background-size: 60px 60px;
}
#cheddrInvoice .info {
  display: block;
  margin-left: 0;
}
#cheddrInvoice .invoiceItemList {
  border-bottom: 0.7px solid #EEE;
}
#cheddrInvoice #docketThankyou {
  margin-top: 0.5em;
}