@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway"/> */

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* store splash */
#clockDisplayDate {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 2px #ffffff;
}

.clockContainer ul {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.clockContainer ul li {
  display: inline;
  font-size: 3em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.store-profile {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  background: #333;
  box-shadow: none;
  overflow: hidden;
  color: #fefefe;
}

.store-profile> :last-child {
  margin-bottom: 0;
}

.store-profile:hover .store-profile-img {
  opacity: 1;
}

.store-profile-content {
  position: relative;
}

.store-profile-content::before {
  position: absolute;
  content: '';
  top: -3.4375rem;
  left: -1.875rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.4375rem 0 0 31.25rem;
  z-index: 0;
  border-color: transparent transparent transparent #333;
}

.store-profile-actions {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.store-profile-actions> :last-child {
  margin-bottom: 0;
}

.store-profile-img {
  max-width: 100%;
}

.store-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 5;
  max-width: 5.625rem;
}

.store-profile-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.store-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.store-profile-button {
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.store-profile-button+.store-profile-button {
  margin-left: 1rem;
}

.store-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}
/* store splash */

/* settings */
.splash {
  color: rgb(170, 170, 170);
}

.settings {
  font-size: 2em;
}

.addAddress {
  color: #8DC451;
}


.removeAddress {
  color: rgb(180, 16, 10);
}

.myAddresses {
  color: #8DC451;
  word-spacing: 2em;
  font-size: 1.2em;
  word-wrap: break-word;
}

.inputAddress {
  width: 10em;
}
/* settings */

.orderTotal {
  color: rgba(255, 255, 255, 1);
}

th {
  text-align: center;
}