@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway); 
@import url(https://fonts.googleapis.com/css?family=Montserrat); 

/* override foundation styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

#qrbch {
  display: none;
}

.has-tip {
  border-bottom: 0px;
}

.tooltip:before {
  border-bottom-style: none;
}

.modal {
  box-sizing: border-box;
  width: 28%;
  background: #000;
  padding: 1px 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
  -o-box-shadow: 0 0 1px #000;
  -ms-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  text-align: center;
}

.settingsIcon { 
  font-size: 32px;
  color: #d3d3d3;
}

.hearty { 
  font-size: 40px;
  color: #E33100;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E33100, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100;
}

#closeDonation {
  border-radius: 1000px; 
}

/* clock display */
#clockDisplayDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 2px #ffffff;
}

.clockContainer ul {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.clockContainer ul li {
  display: inline;
  font-size: 3em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* store splash */
.store-profile {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  background: #333;
  box-shadow: none;
  overflow: hidden;
  color: #fefefe;
}

.store-profile> :last-child {
  margin-bottom: 0;
}

.store-profile:hover .store-profile-img {
  opacity: 1;
}

.store-profile-content {
  position: relative;
}

.store-profile-content::before {
  position: absolute;
  content: '';
  top: -3.4375rem;
  left: -1.875rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.4375rem 0 0 31.25rem;
  z-index: 0;
  border-color: transparent transparent transparent #333;
}

.store-profile-actions {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.store-profile-actions> :last-child {
  margin-bottom: 0;
}

.store-profile-img {
  max-width: 100%;
}

.store-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 5;
  max-width: 5.625rem;
}

.store-profile-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.splashStoreName {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.store-profile-button {
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.store-profile-button+.store-profile-button {
  margin-left: 1rem;
}

.store-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* settings */
.splash {
  color: rgb(170, 170, 170);
}

.settings {
  font-size: 2em;
}

.addAddress {
  color: #8DC451;
}

.myAddresses {
  color: #8DC451;
  word-spacing: 2em;
  font-size: 1.2em;
  word-wrap: break-word;
}

.inputAddress {
  width: 10em;
}

/* main form (order page) */ 

.orderTotal {
  color: rgba(255, 255, 255, 1);
}

th {
  text-align: center;
}

/* loading spinner */
.circle-loader {
  margin: 0 0 30px 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 4em;
  width: 2em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 2em;
  top: 4em;
  position: absolute;
}

/* loading spinner animation */
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 2em;
    opacity: 1;
  }
  40% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
  100% {
    height: 4em;
    width: 2em;
    opacity: 1;
  }
}